*, *::before, *::after {
    box-sizing: border-box;
  } */
  
  * {
    margin: 0;
    background-color: #eeba30;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    margin-right: 20px;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 20dvh;
    background-color: #740001;
    color: #eeba30;
  }

  .left-nav {
    display: flex;
    align-items: center;
    height: 10dvh;
    width: 45dvw;
    margin-left: 20px;
  }

  .shares, .playlists, .videos {
    height: 10 dvh;
    width: 14.5dvw;
    display: flex;
  }

  .shares:hover, .playlists:hover, .videos:hover {
   color: black;
   font-weight: bolder;
  }

  .share-icon, .playlist-icon, .vid-icon {
    height: 3dvh;
    margin:0;
    margin-right: 5px;
  }

  .right-nav {
    display: flex;
    flex-direction: column;
    height: 20dvh;
    width: 20dvw;
  }

  .user-drop-down {
    height: 8dvh;
    width: 20dvw;
    display: flex;
    align-items: center;
  }

  h4 {
    margin: 0;
    margin-left: 5px;
  }

  .person-icon {
    height: 4.5dvh;
    margin:0;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 13px solid #eeba30;
    border-radius: 4px 4px 4px;
    margin-left: 5px;
  }

  .triangle:hover {
    border-top: 13px solid black;
  }

  .logo {
    height: 12dvh;
    width: 20dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  h2 {
    color: white;
    margin-right: -35px;
  }

  .hogwarts-logo {
    display: block;
    max-width: 80%;
    max-height: 80%;
  }

  main {
    height: 80dvh;
    width: 100%;
    background-color: #eeba30;
    color:#740001;
    display: flex;
    justify-content: space-evenly;
    overflow: scroll visible;
    flex-wrap: wrap;
  }

  h1 {
    background-color: #eeba30;
    margin: 0;
    padding: 20px;
    color:#740001;
  }

  .card {
    height: 60dvh;
    width: 22dvw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 4px #af8512;
    margin-bottom: 20px;
    margin-top: 25px;
  }

  .card:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 0 5px 4px #740001;
  }

  .image-share-views {
    position: relative;
    height: 22dvh;
    display:flex;
    justify-content: space-between;
    background-size: cover;
    color: white;
}

  .card-share-icon {
    height: 11dvh;
    width: 7dvw;
    margin-top: 5px;
  }

  .card-share-icon:hover {
    height: 15dvh;
    width: 10dvw;
  }

  .views {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    margin-right: 20px;
  }

  .veiw-text{
    font-size: medium;
  }

  .number-views {
    font-size: 40px;
    margin-top: -10px;
  }

  .card-info {
    height: 38dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
  }

  .name-date {
    display:flex;
    flex-direction: column;
  }

  .name {
    font-size: 20px;
  }

  .date {
    font-size: 15px;
    color:#740001;
    opacity: .7;
  }

  .url-box {
    height: 8dvh;
    width: 18dvw;
    background-color: #740001;
    opacity: .7;
    color:#eeba30;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .url-box:hover {
    outline: 3px dashed black;
  }

  .playlist-info {
    display: flex;
    flex-direction: column;
  }

  .playlist, .attachment {
    font-size: 15px;
  }

  .playlist-name {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .attachment-count {
    font-size: 35px;
  }